In [2]:
import pandas as pd

In [3]:
turnstile_df = pd.read_csv('topstationsv2.csv')

In [4]:
turnstile_df.head()

                   STATION_LINE  DAILY_ENTRIES
0         GRD CNTRL-42 ST-4567S    220779.3725
1      34 ST-HERALD SQ-BDFMNQRW    187783.5817
2       14 ST-UNION SQ-456LNQRW    153183.5163
3  42 ST-PORT AUTH-1237ACENQRSW    146108.2026
4            FULTON ST-2345ACJZ    134653.5163

In [5]:
linker_df = pd.read_csv('lookups.csv')

In [6]:
linker_df.head()

       TurnstileID                 LocatorIDs
0  103 ST-CORONA-7  103rd St - Corona Plaza 7
1         103 ST-1                 103rd St 1
2         103 ST-6     103rd St 4-6-6 Express
3        103 ST-BC             103rd St A-B-C
4         104 ST-A               104th St A-S

In [8]:
hosp_dist_df = pd.read_csv('station_hospital_distances.csv',index_col=0)
hosp_dist_df.head()

,Station Name,Lines,Lat / Long,Hospital Distance (mi),Hospital ID
0,Astor Pl,4-6-6 Express,"(40.73005400028978, -73.99106999861966)",0.367354,2352 NEW YORK EYE AND EAR INFIRMARY\nName: ...
1,Canal St,4-6-6 Express,"(40.71880300107709, -74.00019299927328)",0.631470,5165 NEW YORK-PRESBYTERIAN/LOWER MANHATTAN ...
2,50th St,1-2,"(40.76172799961419, -73.98384899986625)",0.588702,"5163 MOUNT SINAI WEST\nName: NAME, dtype: o..."
3,Bergen St,2-3-4,"(40.68086213682956, -73.97499915116808)",2.592132,5165 NEW YORK-PRESBYTERIAN/LOWER MANHATTAN ...
4,Pennsylvania Ave,3-4,"(40.66471445143568, -73.89488591154061)",6.564261,"2392 MOUNT SINAI BETH ISRAEL\nName: NAME, d..."

In [9]:
hosp_dist_df['StatID'] = hosp_dist_df['Station Name']+' '+hosp_dist_df['Lines']
hosp_dist_df.head()

,Station Name,Lines,Lat / Long,Hospital Distance (mi),Hospital ID,StatID
0,Astor Pl,4-6-6 Express,"(40.73005400028978, -73.99106999861966)",0.367354,2352 NEW YORK EYE AND EAR INFIRMARY\nName: ...,Astor Pl 4-6-6 Express
1,Canal St,4-6-6 Express,"(40.71880300107709, -74.00019299927328)",0.631470,5165 NEW YORK-PRESBYTERIAN/LOWER MANHATTAN ...,Canal St 4-6-6 Express
2,50th St,1-2,"(40.76172799961419, -73.98384899986625)",0.588702,"5163 MOUNT SINAI WEST\nName: NAME, dtype: o...",50th St 1-2
3,Bergen St,2-3-4,"(40.68086213682956, -73.97499915116808)",2.592132,5165 NEW YORK-PRESBYTERIAN/LOWER MANHATTAN ...,Bergen St 2-3-4
4,Pennsylvania Ave,3-4,"(40.66471445143568, -73.89488591154061)",6.564261,"2392 MOUNT SINAI BETH ISRAEL\nName: NAME, d...",Pennsylvania Ave 3-4

The code needs to accomplish the following:
For each line in the turnstile dataframe,
Take the STATION_LINE value,
Look up the matching TurnstileID in the linker dataframe,
Take the corresponding LocatorID in the linker dataframe,
Look up the matching StatID in the hospital distance dataframe,
Return the corresponding Hospital Distance (mi) and place that in the turnstile dataframe.

Strategy: will be implemented as a function applied to the turnstile dataframe.
Function will take a string, the linker and hospital distance dataframes.
Will use the ".loc()" functions to retrieve the data at each step.
Convert TurnstileID to the linker's index and StatID to the hospital distance index.

In [10]:
linker_df.set_index('TurnstileID',inplace=True)
linker_df.head()

                                LocatorIDs
TurnstileID
103 ST-CORONA-7  103rd St - Corona Plaza 7
103 ST-1                        103rd St 1
103 ST-6            103rd St 4-6-6 Express
103 ST-BC                   103rd St A-B-C
104 ST-A                      104th St A-S

In [11]:
hosp_dist_df.set_index('StatID',inplace=True)
hosp_dist_df.head()

,Station Name,Lines,Lat / Long,Hospital Distance (mi),Hospital ID
StatID,,,,,
Astor Pl 4-6-6 Express,Astor Pl,4-6-6 Express,"(40.73005400028978, -73.99106999861966)",0.367354,2352 NEW YORK EYE AND EAR INFIRMARY\nName: ...
Canal St 4-6-6 Express,Canal St,4-6-6 Express,"(40.71880300107709, -74.00019299927328)",0.631470,5165 NEW YORK-PRESBYTERIAN/LOWER MANHATTAN ...
50th St 1-2,50th St,1-2,"(40.76172799961419, -73.98384899986625)",0.588702,"5163 MOUNT SINAI WEST\nName: NAME, dtype: o..."
Bergen St 2-3-4,Bergen St,2-3-4,"(40.68086213682956, -73.97499915116808)",2.592132,5165 NEW YORK-PRESBYTERIAN/LOWER MANHATTAN ...
Pennsylvania Ave 3-4,Pennsylvania Ave,3-4,"(40.66471445143568, -73.89488591154061)",6.564261,"2392 MOUNT SINAI BETH ISRAEL\nName: NAME, d..."

In [16]:
def linkup(stat_string,link_df,hosp_df):
    # must check for name in the linker lookup table
    # if not, pass None for this distance
    if stat_string in link_df['LocatorIDs']:
        locator = link_df.loc[stat_string,'LocatorIDs']
    else:
        return None
    dist = hosp_df.loc[locator,'Hospital Distance (mi)']
    return dist

In [17]:
# name the new column according to Natalie's convention
turnstile_df['MIN_HOSP_DIST'] = \
    turnstile_df.STATION_LINE.apply(linkup,link_df=linker_df,hosp_df=hosp_dist_df)
turnstile_df.sample(10)

          STATION_LINE  DAILY_ENTRIES  MIN_HOSP_DIST
250        GATES AV-JZ    11408.30065       4.337760
272       DYCKMAN ST-1    10401.97386       1.095964
234       9TH STREET-1    12757.36601            NaN
188     PROSPECT AV-25    16191.16340       2.028734
75     103 ST-CORONA-7    32208.09804       4.448342
125          125 ST-23    23331.33987       0.369174
340           176 ST-4     7709.03268       1.598405
241       CLASSON AV-G    11820.28105       2.808659
334  BEDFORD PK BLVD-4     8004.72549       1.204041
246    ROCKAWAY BLVD-A    11531.05882       8.006950

In [19]:
turnstile_df.sort_values('DAILY_ENTRIES',ascending=False)

                     STATION_LINE  DAILY_ENTRIES  MIN_HOSP_DIST
0           GRD CNTRL-42 ST-4567S  220779.372500       0.689167
1        34 ST-HERALD SQ-BDFMNQRW  187783.581700       0.901751
2         14 ST-UNION SQ-456LNQRW  153183.516300       0.346741
3    42 ST-PORT AUTH-1237ACENQRSW  146108.202600       0.872040
4              FULTON ST-2345ACJZ  134653.516300       0.101186
..                            ...            ...            ...
463            ROCKAWAY PARK B-AS    1027.405229      10.000000
464               TOMPKINSVILLE-1     953.901961            NaN
465                BEACH 98 ST-AS     663.339869      10.000000
466              BROAD CHANNEL-AS     452.529412      10.000000
467               BEACH 105 ST-AS     314.026144      10.000000

[468 rows x 3 columns]